body{
	  font-family: arial, helvetica;
	 
	  margin: 0;
	padding: 0;
}

.menu{
	list-style: none;
	padding: 0;
	background: #125688;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #9D0C0C;
}




*{
	font-family: sans-serif;
}
h1{
  text-align: center;
  background: #1154ED;
}

.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    left: -40px;
    top: 250px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.fa-facebook-f{
    background: #3b5998;
}
.fa-twitter{
    background: #00abf0;
}
.fa-get-pocket{
    background: #ae181f;
}
.fa-facebook-messenger{
    background: #0084ff;
}
.fa-google-plus-g{
    background: #d95232;
}


